html, body, h1, form{
	margin: 0;
	padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    padding: 20px;
    line-height: 150%;
    background-color:dimgray;
}

#lfile{
    text-align: left;
    list-style-type: circle;
}
#sep {
    margin-top: 10px;
    margin-bottom: 10px;
    background: url("../images/blueline.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 8px;
}

#outform{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display:block;
    overflow:auto;
    clear:both;
    //border: 5px solid red;
}

#logo{
    background: url("../images/mataamp.png");
    height: 165px;
    width: 431px;
    display: block;
    text-indent:-9999px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}
#metaamp {
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    //border: 5px solid red;
}

p {
    text-align: left;
}
p.thick{
    font-weight: bold;
    text-align: left;
}


#foot {
    padding:5px;
    text-align:center;
    display: inline-block;
    width: 100%;
    height: 50px;
    //border: 5px solid red;
    margin-bottom: 20px;
}

#tabs {
    margin-top: 0.5em;
}
#tabs-nohdr {
    padding: 0px;
    background: none;
    border-width: 0px;
    //font-size: 14px;
}
#tabs-nohdr .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs-nohdr .ui-tabs-panel {
    border-width: 0px 1px 1px 1px;
}

#tr_result {
    height:20px;
}

//qc summary section
table.dataTable th,table.dataTable td {
    white-space: nowrap;
    padding-right: 20px !important;
}
#rawstats, #mergestats, #trimstats, #qcstats{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    line-height: 120%;
}
#wrap {
    padding:5px;
    text-align:center;
    display: inline-block;
    width: 100%;
//border: 5px solid red;
}

#left_col {
    float:left;
    width: 40%;
    text-align: left;
    vertical-align: middle;
    
}
#right_col {
    margin-left: 45%;
    text-align: left;
    text-align: left;
    vertical-align: middle;
}
