<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Alpha diversity indices visualization</title>
    <link rel=stylesheet type="text/css" href="../css/metaamp.css" title="default metaamp styles" />
    <script type="text/javascript" src="https://ebg.ucalgary.ca/metaamp/js/jquery-2.1.3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
    <script src="https://code.highcharts.com/modules/lollipop.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/themes/high-contrast-light.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="ebgmetaampjson"></script>
    <script type="text/javascript" src="alpha_diversity_indexes.js"></script>
  </head>

  <body>
    <!-- div id="outform"> <a href="/metaamp/index.html" id="logo">MetaAmp Logo</a -->
    <div id="outform">
     
      <div id="outline">
	<div id="banner" ></div>
	<div id="title">
	  <h1>MetaAmp Version 3.0 </h1>
	</div>
	<div id="sep"></div>
	
      <div id="space"></div>
      <h3>Alpha diversity indices visualization</h3>
      <div id="result">
        
        <div id="sob"></div>
	<div id="space"></div>
        <div id="chao"></div>
        <div id="space"></div>
        
        <div id="ace"></div>
	<div id="space"></div>
        <div id="jackknife"></div>
        <div id="space"></div>
        <div id="shannon"></div>
	<div id="space"></div>
        <div id="npshannon"></div>
	<div id="space"></div>
	<div id="simpson"></div>
	<div id="space"></div>
        <div id="empty"></div>
        
      </div>
      <div class="space"></div>
      <div id="sep"></div>
      <div id="foot" align="center">Problems? Questions? Suggestions? Please contact <a href="mailto:xdong\@ucalgary.ca">Xiaoli Dong</a>            or <a HREF="mailto:mstrous\@ucalgary.ca">Marc Strous</a>
        <br><a href="https://www.ucalgary.ca/ebg/">Energy Bioengineering Group</a>            in <a href="https://geoscience.ucalgary.ca/">Department of Geoscience</a>            at <a href="https://www.ucalgary.ca">Univeristy of Calgary</a> </div>
    </div>
    </div>
  </body>

</html>
